
* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
    background-color: black;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-size: 24px;
    font-weight: 600;
    color: aqua;
    text-decoration: none;
}

.cabecalho_menu_link:active{
    color: red;
}

.apresentacao {
    padding: 20% 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 20px;
}

.links_links {
    display: flex;
    gap: 16px;
    border-radius: 16px;
    border: 2px solid yellow;
    width: 120px;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 10px;
    text-decoration: none;
    color: white;

}

.links_links:hover {
    background-color: #272727;
}

.rodape {
    padding: 5px;
    color: black;
    background-color: aqua;
    font-size: 15px;
    font-weight: 700;
    text-align: center;

}

/* estilo das paginas de algoritmos */

.containner {
    padding: 10%;
    /* propriedades do flex box */
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.lista {
    padding: 20px;
}

.conteudo-principal{
    border: 1px solid yellow;
    padding: 40px;
}

.botao {
    border-radius: 16px;
    width: 100px;
    font-weight: 600;
    border: 2px solid yellow;
    background-color: transparent;
    color: white;
    padding: 5px;

}
.botao:hover {
    background-color: #272727;
}

